@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply  m-2 p-2 cursor-pointer outline-none rounded-xl 
          text-base bg-primary text-dark border border-transparent border-solid
          hover:text-primary hover:border-primary hover:bg-primary/[.1]
          active:border-primary active:text-primary active:bg-gradient-to-r from-primary/[.2] to-primary/[.3]
}

@layer base {
  :root {
    --color-primary: 162 162 246;
    --color-bg: 244 244 255;
    --color-dark: 29 29 29;
  }
}

@import './variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
}

#root {
  height: 100%;
}
